<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="1082netdbBConnectionString" connectionString="Data Source=140.138.144.66\SQL1422;Initial Catalog=1082netdbB;User ID=1082netdbB;Password=yzuim1082netdbB"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
